name: Workflow Commands

on: [push]

jobs:
  my_job:
    runs-on: ubuntu-latest
    steps:
      - name: "group logging"
        run: |
          echo "::group::My group message"
          echo "Message 1"
          echo "Message 2"
          echo "::endgroup::"
      - name: "step 1"
        run: |
          echo "MY_VAL=::add_mask::hello" >> $GITHUB_ENV
      - name: "step 2"
        run: |
          echo $MY_VAL
      - name: "maskIt!"
        run: |
          echo "maskedvalue $MY_VAL "